@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    width: 100%;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
}

header {
    width: 100%;
    height: 100%;
    background: #EEEFF1;
}

h2 {
    margin: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
}

.header_padding {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 19px 0 19px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
}

.logo {}

ul.menu {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}

ul.menu li {
    display: inline;
    margin-right: 42px;
    white-space: nowrap;
}

ul.menu li:last-child {
    margin-right: 0px;
}

ul.menu li:hover {
    color: #34547A;
    cursor: pointer;
}

.image {
    /* ---------------------------------------------------произошли изменения-------------------------------------------------- */
    max-width: 357px;
    width: 100%;
    height: auto;
}

.header_information {
    /* ---------------------------------------------------произошли изменения-------------------------------------------------- */
    margin-top: 140px;
    padding-bottom: 146px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_design {
    /* ---------------------------------------------------произошли изменения-------------------------------------------------- */
    /* margin-left: 6%; */
}

.header_design_title {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.header_design_text {
    max-width: 540px;
    width: 100%;
    margin: 60px 0 60px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.btn {
    border: 0;
    width: 225px;
    height: 65px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #34547A;
    border-radius: 0;
    outline: none;
}

.btn:hover {
    background-color: #065090;
    cursor: pointer;
}

.btn:focus {
    background-color: #00bbd3;
    border: 0;
    border-radius: 0;
}

.btn:active {
    background-color: #00bbd3;
    border: 0;
    border-radius: 0;
}

.about_me {
    margin: 119px 0 100px 0;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.about_me_padding {

}

.about_me_title {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.about_me_text {
    max-width: 540px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #34547A;
}

.list_item {
    width: 141px;
    height: 50px;
    /* margin-right: 16px; */
}

.list_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.numbers .container {
    width: 100%;
    display: flex;
}

ul.list {
    padding-inline-start: 0;
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
}

ul.list li {
    margin-bottom: 100px;
    display: flex;
    margin-right: 49px;
}

ul.list li span1 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

ul.list li span2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
}

/* ul.list li:last-child {
    margin-right: 0px;
} */

.skills {}

.skills_list {
    margin-bottom: 91px;
    max-width: 445px;
    width: 100%;
}

.skills .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 102px;
    margin-bottom: 101px;
}

.skills_padding {}

ul.skills_text {
    padding-inline-start: 0px;
    list-style-type: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

ul.skills_text li {
    margin-bottom: 30px;
}

ul.skills_text li:last-child {
    margin-bottom: 0;
}

.skills_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 50px;
    margin-top: 102px;
}

.skills_item {
    max-width: 555px;
    width: 100%;
    /* padding-right: 8%; */
}

.progressbar {
    margin-top: 20px;
    height: 4px;
    max-width: 445px;
    width: 100%;
    position: relative;
    background: #C4C4C4;
}

.progressbar>span {
    width: 78%;
    display: block;
    height: 100%;
    background-color: #34547A;
}

.video {
    width: 100%;
    background: #EEEFF1;
}

.video .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.video_padding {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 18px 0 18px;
}

.video_title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.video_text {
    margin-bottom: 57px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    max-width: 540px;
    width: 100%;
}

.video_item {
    max-width: 1110px;
    width: 100%;
}

.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
}

.cont:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.projects .cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
}

.projects .cont:hover .overlay {
    opacity: 0.5;
    cursor: pointer;
}

.projects .overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #34547A;
}

.projects .icon {
    color: white;
    font-size: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.projects {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    /* max-width: 1920px; */
}

.projects_grid {
    margin: 28px 0 28px 0;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
}

#pic5 {
    order: 1;
}

/* .projects_row {
    margin: 28px 0 28px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.projects_column {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
    margin: 0;
} */

.projects_picture {
    width: 100%;
    /* height: 100%; */
}

.projects_picture:hover {
    background-image: image(url(pictures/view.svg));
    filter: alpha (opacity=100);
    /* filter:hue-rotate(1); */
    /* -webkit-transition: all 1s ease; */
    /* filter: grayscale(1); */
    /* -webkit-filter: grayscale(1); */
    /* background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)); */
}

.form {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.form_padding {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 17px 0 16px;
}

.form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.form_text {
    margin-bottom: 65px;
    max-width: 540px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.form_info {
    margin-bottom: 20px;
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form_info_item {
    height: 50px;
    padding: 0 0 0 20px;
    width: 100%;
    max-width: 235px;
    border-radius: 0;
    border: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
}

.message {
    max-width: 520px;
    padding: 17px 0 0 20px;
    margin-bottom: 50px;
    width: 100%;
    resize: none;
    height: 175px;
    border-radius: 0;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 151px; */
    background: #34547A;
}

.footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.footer_text {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer_title {
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer_item {
    margin-left: 15px;
}

@media(max-width:1279px){
    #pic1 {
        order: -1;
    }
    #pic2 {
        order: -1;
    }
    #pic3 {
        order: 1;
    }
    #pic4 {
        order: 2;
    }
    #pic5 {
        order: 3;
    }
    #pic8 {
        order: 2;
    }
}

@media(max-width:1279px) {
    .projects_grid {
        margin: 34px 0 34px 0;
    }
    /* .projects_row {
        flex-direction: column;
        margin: 34px 0 34px 0;
    }
    .projects_column {
        flex-direction: row;
        width: 100%;
    } */
    .numbers .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 518px;
    }
    ul.list li {
        margin-bottom: 74px;
        margin-left: 18px;
        margin-right: 19px;
    }
    ul.list {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
    }
    .footer {
        height: 100%;
    }
    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .footer_items {
        max-width: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer_item {
        margin-left: 0;
        padding-right: 0;
    }
    .footer_text {
        display: flex;
        flex-direction: column;
        margin-bottom: 39px;
        align-items: center;
    }
    .about_me_text {
        max-width: 323px;
        line-height: 120%;
    }
}

@media(max-width:1279px) {
    .menu {
        display: none;
    }
    .header_information {
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding-bottom: 95px;
    }
    .header_design {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .header_design_title {
        font-size: 35px;
        margin-top: 51px;
        line-height: 100%;
        text-align: center;
    }
    .header_design_text {
        margin: 44px 0 44px 0;
    }
    .video .overlay {
        opacity: 1;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .video .cont {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .video_text {
        line-height: 120%;
    }
    .video_title {
        margin: 93px 0 34px 0;
    }
    .video_item {
        width: 100%;
    }
    .video .container {
        padding-bottom: 91px;
    }
    .skills .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 103px;
        margin-top: 0;
    }
    .skills_padding {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 18px 0 18px;
    }
    .skills_list {
        padding-inline-start: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .progressbar {
        margin-right: 0;
    }
    .skills_item {
        margin: 82px 0 98px 0;
        padding: 0;
    }
    .skills_title {
        text-align: center;
        margin: 0;
    }
    .skills_text {
        margin: 42px 0 0 0;
    }
}

@media(max-width:1279px) {
    .projects_grid {
        grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
    }
    .icon {
        width: 75px;
    }
    .form {}
    .form_text {
        margin-bottom: 28px;
        line-height: 120%;
    }
    .form_title {
        margin-top: 91px;
        margin-bottom: 34px;
    }
    .message {
        margin-bottom: 15%;
    }
    .form_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form_info_item {
        max-width: 510px;
        margin-top: 20px;
    }
}

@media(max-width:1279px) {
    .logo {
        max-width: 96px;
        width: 100%;
        margin-bottom: 67px;
    }
    .image {
        max-width: 298px;
    }
    .header_design_text {
        text-align: center;
        line-height: 120%;
    }
    .about_me_title {
        margin-bottom: 42px;
    }
    .about_me {
        margin: 91px 0 82px 0;
    }
    .about_me_padding {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 26px 0 26px;
    }
}