body {
    width: 100%;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
}

header {
    width: 100%;
    height: 700px;
    background: #EEEFF1;
}

h2 {
    margin: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
}

ul.menu {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}

ul.menu li {
    display: inline;
    margin-right: 42px;
    white-space: nowrap;
}

ul.menu li:last-child {
    margin-right: 0px;
}

ul.menu li:hover {
    color: #34547A;
    cursor: pointer;
}

.image {
    width: 357px;
    height: 233.7px;
}

.header_information {
    margin-top: 15%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.design {
    margin-left: 6%;
    max-width: 540px;
}

.design_style1 {
    margin: -7% 0 0 0;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.design_style2 {
    margin: 8% 0 9% 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.btn {
    border: 0;
    width: 225px;
    height: 65px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #34547A;
    border-radius: 0;
    outline: none;
}

.btn:hover {
    background-color: #065090;
    cursor: pointer;
}

.btn:focus {
    background-color: #00bbd3;
    border: 0;
    border-radius: 0;
}

.btn:active {
    background-color: #00bbd3;
    border: 0;
    border-radius: 0;
}

.about_me {
    margin: 100px 0 100px 0;
    text-align: -webkit-center;
}

.about_me_title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.about_me_text {
    max-width: 540px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    background: #34547A;
}

.list_item {
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    margin-right: 16px;
}

.list_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.numbers .container {
    width: 100%;
    display: flex;
}

ul.list {
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
}

ul.list li {
    display: flex;
    margin-right: 80px;
}

ul.list li span1 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

ul.list li span2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
}

ul.list li:last-child {
    margin-right: 0px;
}

.skills {}

.skills .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6%;
    margin-bottom: 6%;
    max-width: 1200px;
}

ul.skills_text {
    padding-inline-start: 0px;
    list-style-type: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

ul.skills_text li {
    margin-bottom: 6%;
}

ul.skills_text li:last-child {
    margin-bottom: 0;
}

.skills_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 10%;
    margin-top: 13%;
}

.video {
    width: 100%;
    height: 1004px;
    background: #EEEFF1;
}

.video .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.video_text {
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    max-width: 540px;
    width: 100%;
}

.projects {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1920px;
}

.projects_row {
    margin: 1% 0 1% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.projects_picture {
    width: 100%;
    height: 100%;
}

.projects_picture:hover {
    background-image: image(url(pictures/view.svg));
    filter: alpha (opacity=100);
    /* filter:hue-rotate(1); */
    /* -webkit-transition: all 1s ease; */
    /* filter: grayscale(1); */
    /* -webkit-filter: grayscale(1); */
    /* background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)); */
}

.form {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8%;
}

.form_title {
    margin-top: 8%;
    margin-bottom: 2%;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.form_text {
    margin-bottom: 3%;
    max-width: 540px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.form_info {
    margin-bottom: 20px;
    max-width: 530px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.form_info_item {
    padding: 10px;
    width: 100%;
    max-width: 235px;
    border-radius: 0;
    border: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.message {
    max-width: 510px;
    padding: 10px;
    margin-bottom: 4%;
    width: 100%;

    height: 175px;
    border-radius: 0;
    border: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 151px;
    background: #34547A;
}