body {
    /* background-color: lightsalmon; */
    /* background: #E5E5E5; */
}
.first {
    position: absolute;
    width: 1920px;
    height: 700px;
    left: 0px;
    top: -7px;
    background: #EEEFF1;
}
.wd {
    position: absolute;
    width: 96px;
    height: 60px;
    left: 402px;
    top: 50px;

    font-family: Revalia; /* нужно как-то скачать этот шрифт*/
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #34547A;
}
.design_style1 {
    position: absolute;
    width: 541px;
    height: 45px;
    left: 974px;
    top: 250px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}
.design_style2 {
    position: absolute;
    width: 540px;
    height: 67px;
    left: 975px;
    top: 355px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.about_me {
    position: absolute;
    width: 403px;
    height: 30px;
    left: 758px;
    top: 812px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
.about_me_text {
    position: absolute;
    width: 540px;
    height: 67px;
    left: 690px;
    top: 892px;
/* p */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.void {
    
}
.second {
    position: absolute;
    width: 1920px;
    height: 250px;
    left: 0px;
    top: 1059px;

    background: #34547A;
}
.work {
    position: absolute;
    width: 1920px;
    height: 1004px;
    left: 0px;
    top: 1962px;
/* Silver */
    background: #EEEFF1;
}
.work_me {

}
.work_text {
    position: absolute;
width: 540px;
height: 67px;
left: 690px;
top: 2142px;
color: #727272;
}


.j {
    height: 700px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}